.header {
    width: 100%;
  
    .inner {
        margin: 0 auto;
        border-bottom: 0.1rem solid #ececec;
        padding: 0.5rem 1rem;
        max-width: -webkit-calc(890px - (1rem * 2));
  
        .mode {
            float: left;
            border: none;
            padding: 0.5rem;
            background: #ccc;
        }
  
        .nav {
            float: right;
  
            &>a {
                display: inline-block;
                margin-left: 0.5rem;
                padding: 0.5rem 1rem;
            }
        }
        .mode {
            background: none;
            cursor: pointer;
            line {
                stroke: #0d122b;
                fill: #0d122b;
            }
        }
  
        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
  }